@include b("btn")

    outline: none
    cursor: pointer
    padding: calculateRem(6px)
    background: #{$light_dark}
    border: 1px solid #{$mid_dark}
    border-radius: #{$space_8}
    color: #{$mid_grey}
    font-size: calculateRem(13px)
    transition: 180ms all ease-in
    &:hover
        color: #{$black38}
        background: #{$anti_flash}
    &:disabled, &.disabled
        cursor: not-allowed !important
        color: #{$mid_grey} !important
        background: #{$mid_dark} !important
        border-color: #{$light_dark} !important
    img.icon
        width: 18px
        height: 18px

    @include m("inform")
        padding: #{$space_4} #{$space_8}
        position: absolute
        right: #{$space_4}
        top: 50%
        transform: translateY(-50%)
        color: #57ab5a
        background: rgb(70 149 74 / 15%)
        border-color: rgb(70 149 74 / 38%)

    @include m("actions")
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        align-items: center
        gap: #{$space_4}
        padding: #{$space_8} #{$space_12}
        border-radius: #{$space_4}
        font-size: calculateRem(12px)
        line-height: 16px
        background: #{$heavy_dark}
    @include m("focus-timer")
        color: #{$heavy_grey}
        &:hover, &.active
            color: #57ab5a
            background: #{$light_dark}

    @include m("todo")
        color: #57ab5a
        background: rgb(70 149 74 / 15%)
        border-color: rgb(70 149 74 / 38%)

    @include m("inprogress")
        color: #c69026
        background: rgb(198 144 38 / 15%)
        border-color: rgb(198 144 38 / 38%)

    @include m("setdone")
        color: #986ee2
        background: rgb(152 110 226 / 15%)
        border-color: rgb(152 110 226/ 38%)
        cursor: pointer

    @include m("done")
        background: rgb(152 110 226 / 15%)
        border-color: rgb(152 110 226/ 38%)
        cursor: help
    @include m("delete")
        color: #f43f3f
        background: rgb(244 63 6 / 15%)
        border-color: rgb(244 63 6 / 38%)
