@include b("pomodoro")
    $pomodoroMain: null

    --pad-all: #{$space_16}
    --border-radius-all: #{$space_16}
    --border-color: #{$light_dark}
    --background-box: #{$mid_dark}

    background: #{$heavy_dark}
    @include e("main")
        $pomodoroMain: &

        padding: #{$space_12}
        height: calc( 100vh - var(--global-space-nav) )
        @include for-screen("tablet", "max-w")
            flex-wrap: wrap-reverse
            height: auto
    @include e("box")
        background: var(--background-box)
        padding: var(--pad-all)
        border: 1px solid var(--border-color)
        border-radius: var(--border-radius-all)

    @include e("topbar")
        background: var(--background-box)
        border-bottom: 1px solid var(--border-color)
        font-size: #{calculateRem(12px)}
        height: var(--global-space-nav)
        @include m("main", false)
            width: 100%

    @include e("nav")
        a
            position: relative
            color: #{$heavy_grey}
            transition: all 180ms ease-in-out
            &:hover
                color: #{$mid_grey}
    @include e("nav-item")
        display: flex
        align-items: center
        justify-content: center
        width: var(--global-space-nav)
        height: var(--global-space-nav)
        padding: #{$space_4}
        color: #{$heavy_grey}
        border-right: 1px solid var(--border-color)
        transition: all 180ms ease-in-out
        &:hover, &.active
            color: #{$mid_grey}
            background: #{$heavy_dark}

    @include e("datetime")
        padding: 0 #{$space_16}

    @include e("logo")
        width: var(--global-space-nav)
        height: var(--global-space-nav)
        display: flex
        align-items: center
        justify-content: center
        border-right: 1px solid var(--border-color)

    @include e("counter")
        color: #{$light_grey}
        font-size: calculateRem(100px)
        padding: #{$space_20}
        @include for-screen("mobile-md", "max-w")
            font-size: calculateRem(75px)

@include b("guides")
    width: 80%
    margin: 0 auto
    padding: #{$space_20}
    @include for-screen("mobile-md", "max-w")
        width: 100%
    @include e("list")
        font-size: calculateRem(15px)
        color: #{$mid_grey}
        margin-bottom: #{$space_20}
        span
            color: #{$heavy_grey}
            font-size: calculateRem(13px)
    @include e("table")
        border: 1px solid var(--border-color)
        text-align: center
        width: 100%
        margin-bottom: #{$space_20}
        @include for-screen("mobile-md", "max-w")
            width: max-content
        td
            border-right: 1px solid var(--border-color)
            border-bottom: 1px solid var(--border-color)
            padding: #{$space_4}
            font-size: calculateRem(14px)
            &:nth-child(2n-1)
                background: #{$heavy_dark}
        thead td
                font-size: calculateRem(13px)
                &:nth-child(2n-1)
                    color: #{$light_grey}
        tbody td
                &:nth-child(2n)
                    color: #c69026
                &:nth-child(2n+1)
                    color: #57ab5a

@include b("scroll-x")
    overflow-x: scroll
